<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.textM{
    padding: 200px;
}
</style>
<body>
    <div class="textM">
<h2>Send sms Messange</h2>

<input type="tel" id="number" name="number" placeholder="Enter number...">
<br>
<input type="text" id="msg" name="msg" placeholder="Enter message...">
<br>
<input type="button" id="button" name="button" value="Send">
    </div>
    
<script src="js/main.js"></script>
</body>
</html>